TSGUARD_IOTDB_ENABLED=true
TSGUARD_IOTDB_HOST=127.0.0.1
TSGUARD_IOTDB_PORT=6667
TSGUARD_IOTDB_USER=root
TSGUARD_IOTDB_PASSWORD=root
TSGUARD_IOTDB_DATABASE=root.tsguard
TSGUARD_IOTDB_DATASET=pm25
TSGUARD_IOTDB_MODEL_VERSION=model_TSGuard.pth
TSGUARD_IOTDB_IGNORE_LATE=true
